<app-subheader heading="List of Test"></app-subheader>

<ion-content>
  <ion-list>
    <ion-item routerLink="/inlfateddimension" >
      <ion-label>Inlfated Dimension</ion-label>
    </ion-item>
    <ion-item routerLink="/footprint" >
      <ion-label>Foot Print</ion-label>
    </ion-item>
    <ion-item routerLink="/plunger" >
      <ion-label>Plunger</ion-label>
    </ion-item>
    <ion-item routerLink="/punger" >
      <ion-label>Punger</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
